@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    height: 90px;
    background: rgb(53, 64, 142);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem calc((110.6vw - 1300px) / 2);
    transition: opacity 1s;
    font-weight: bold;
    background-image: url(nu-logo.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 9%;
    background-position: 38vh;
}
.nav-bottom {
    font-weight: bold;
    padding:19px;
    height: 7vh;
    background-color:#ffba00;
    color:#ffffff;
    display:flex;
    justify-content: center;
    
}
.nav-bottom a:hover{
    color:rgb(53, 64, 142);
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffba00;
}